/*reset css*/
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Poppins';
    font-size: 18px;
    color: #545454;
}
h1{
    font-family: 'Josefin Sans';
    font-size: 60px;
    color: #2C3722;
}
h2{
    font-family: 'Josefin Sans';
    font-size: 40px;
    color: #212529;
}
h3{
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 24px;
    color: #212529;
}
/* header*/
.container{
    max-width: 1210px;
    margin: auto;
    padding: 0 20px;
}
#header{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header li{
    display: inline-block;
    margin-left: 50px;
}
#header li a{
    font-family: 'Josefin Sans';
    color: #8D8D8D;
    font-size: 20px;
    position: relative;
}
#header li a:hover{
    color: black;
}
#header label div{
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background:black;
    transition: all .3s
}
#header label, #header input{
    display: none;
}
/*hero section*/
#hero-section{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
#hero-left{
    width: 50%;
}
#hero-left p{
    font-size: 20px;
    font-weight: 500;
    color: #636465;
}
#hero-left form{
    margin-top: 60px;
}
#address{
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    border: none;
    height:60px;
    color: #B7B7B7;
    font-family: 'Poppins';
    width: 60%;
    padding: 18px 30px;
    outline: none;
}
#submit, #history-section a {
    background: transparent linear-gradient(90deg, rgba(140, 181, 96, 1) 0%, rgba(99, 157, 43, 1) 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px rgba(89, 136, 43, 0.3);
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 600;
    min-width: 29%;
    padding: 18px 36px;
    border: none;
    margin-left: 20px;
}
#hero-right{
    width: 50%;
    padding-left: 50px;
}
/* welcome section*/
#welcome-section{
    padding-top: 140px;
    display: flex;
    align-items: center;
}
#welcome-right{
    width: 50%;
    margin-left: 50px;
}
#welcome-left{
    width: 50%;
}
#welcome-left img{
    width: 100%;
}
.cookie{
    font-family: 'Cookie';
    font-size: 28px;
    color: #FEBD00;
}
#welcome-right a{
    margin-top: 50px;
    padding: 24px 40px;
    background: transparent linear-gradient(90deg, rgba(140, 181, 96, 1) 0%, rgba(99, 157, 43, 1) 100%) 0% 0% no-repeat padding-box;box-shadow: 0px 5px 20px rgba(89, 136, 43, 0.1);
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins';
    text-align: center;
    min-width: 30px;
}
#welcome-right p{
    margin-top: 25px;
}
#welcome-right p:nth-child(4), #history-left p:nth-child(4){
    margin-bottom: 50px;
}
/*reason section*/
#reason-section, #browse-section,#subscription{
    text-align: center;
    padding: 100px 0;
}
#reason-flex{
    margin-top: 60px;
    display: flex;
}
#reason-flex div{
    background: rgba(248, 251, 245, 1) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: 50px 32px;
    position: relative;
}
#reason-flex div:nth-child(2) {
    margin: 0 30px;
}
#reason-flex div:hover{
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
}
#reason-flex div:hover::after,#browse-carousel .owl-item > div:hover::after{
    content: '';
    display: block;
    background: transparent linear-gradient(180deg, rgba(140, 181, 96, 1) 0%, rgba(99, 157, 43, 1) 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
}
/* browse-section*/
#browse-flex{
    display: flex;
    padding-top: 60px;
}
#browse-menu{
    width: 25%;
    text-align: left;
}
#browse-carousel{
    width: 75%;
}
#browse-menu li{
    color: #979797;
    padding-left: 30px;
    line-height: 60px;
    font-weight: 500;
    border-left: 3px solid #EBEBEB;
}
#browse-menu li:hover,#browse-menu li.clicked{
    color:#FEBD00;
    border-left: 3px solid #FEBD00;
}
#browse-carousel .owl-item > div {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    position: relative
}
#browse-carousel .image{
    position: relative;
}
#browse-carousel .overlay{
    position: absolute;
    background: rgba(252, 255, 248, 0.5);
    justify-content: center;
    align-items: center;
    display: none;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
#browse-carousel .owl-item:hover .overlay{
    display: flex;
}
#browse-carousel .overlay i {
    width: 40px;
    height: 40px;
    display: block;
    background: white;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    color: #212529;
    margin-right: 15px;
}
#browse-carousel .overlay i:last-child{
    margin-right: 0;
}
#browse-carousel .owl-item .rating {
    margin: 0;
    color: #FFB243;
    font-size: 13px;
    text-align: center;
}
.price {
    color: #59882B;
    font-size: 22px;
    font-family: 'Josefin Sans';
    font-weight: 600;
    text-align: center;
    padding-bottom: 15px
}
.price sub {
    color: #979797;
    font-size: 14px;
    text-decoration: line-through;
    transform: translate(5px, -50%);
    display: inline-block;
}
#browse-carousel .owl-nav {
    text-align: right;
    display: block;
}
#browse-carousel .owl-prev, #browse-carousel .owl-next {
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.05);
    border-radius: 50px 0px 0px 50px;
    background: white;
    width: 50px;
    height: 50px;
    outline: none;
}
#browse-carousel .owl-next {
    border-radius: 0px 50px 50px 0px;
}
#browse-carousel .owl-prev:hover, #browse-carousel .owl-next:hover {
    background: transparent linear-gradient(180deg, rgba(140, 181, 96, 1) 0%, rgba(99, 157, 43, 1) 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.05);
    color: white;
}
/* history-section*/

#history-section {
    padding-top: 150px;
    display: flex;
}
#history-section a {
    margin-top: 50px;
    min-width: 40px;
    margin-left: 0;
}
#history-left, #history-right {
    width: 50%
}
#history-right img {
    width: 100%;
}
/* testimonials section */
#testimonials-section {
    padding-top: 150px;
}
#testimonials-section .cookie, #testimonials-section h2 {
    text-align: center;
}
#testimonials-flex {
    display: flex;
    padding-top: 100px;
    flex-wrap: wrap;
    justify-content: center;
}
#testimonials-flex div {
    width: 30%;
    margin-bottom: 32px;
}
#testimonials-flex div:nth-child(2) {
    margin: 0 50px 32px;
    transform: translate(0, -40px)
}
#testimonials-flex div:nth-child(3) {
    transform: translate(0, 20px)
}
#testimonials-flex div:nth-child(5) {
    margin-left: 50px;
    transform: translate(0, 30px)
}
#testimonials-flex .comment {
    color: #8E8E8E;
    font-size: 14px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.07);
    padding: 17px 25px;
}
#testimonials-flex img {
    float: left;
    margin-right: 19px;
}
#testimonials-flex .name {
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    margin: 0;
    margin-top: 21px;
}
#testimonials-flex .job {
    margin: 0;
    font-size: 14px;
    font-style: italic;
    color: #9E9E9E
}
/*news section*/
#news-flex{
	display: flex;
}
#news-section{
	padding-top: 150px;
    text-align: center;
}
#news-flex p, #news-flex h3{
	text-align: left;
}
#news-flex div:nth-child(2){
	margin: 0 30px;
}
.more{
	font-family: 'Poppins';
	font-weight: 500;
	color:#FEBD00;
	font-size: 16px;
}
/*subscription-section*/
#sub{
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
    border-radius: 35px;
    border: none;
    height:60px;
    color: #B7B7B7;
    font-family: 'Poppins';
    width: 30%;
    padding: 18px 30px;
    outline: none;
}
#sub-button{
    background: transparent linear-gradient(180deg, rgba(140, 181, 96, 1) 0%, rgba(99, 157, 43, 1) 100%) 0% 0% no-repeat padding-box;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    transform: translate(-90%,0);
}
#sub-button i{
    color: white;
    font-size: 20px;
}
/* footer */

#footer-bg{
	background: #F8FBF5;
}
#footer{
	display: flex;
	justify-content: space-between;
}
#footer div{
	margin: 161px 60px 149px 0;
}
#footer img{
	width: 84px;
	margin-bottom: 16px
}
#footer li a{
	font-family: 'Josefin Sans';
	color: #585858;
}
#footer li {
	padding-top: 23px;
}
#footer li:nth-child(2), #footer li:nth-child(3) {
	padding-top: 34px;
}

#footer div:first-child a{
	background: transparent linear-gradient(180deg, rgba(140, 181, 96, 1) 0%, rgba(99, 157, 43, 1) 100%) 0% 0% no-repeat padding-box;
	border-radius: 5px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-right: 20px;
	color: white;
	display: inline-block;
	margin-top:24px;
}

#footer div:first-child a:hover,#sub-button:hover{
	background: rgba(99, 157, 43, 1)
}

/*mobile version*/
@media (max-width: 768px){
    /*header mobile*/
    #header{
        flex-direction: row-reverse;
        padding-top: 30px;
    }
    #header img{
        width: 20%;
    }
    #header label{
        display: block;
        z-index: 1;
    }
    #header input:checked + label + ul {
        transform: translate(-0, 0);
    }
    #header input:checked + label div:first-child {
        transform: translate(0, 8px) rotate(45deg)
    }
    #header input:checked + label div:nth-child(2) {
        transform: translate(-100%, 0);
        opacity: 0;
    }
    #header input:checked + label div:last-child {
        transform: translate(0, -8px) rotate(-45deg)
    }
    #header ul {
        width: 100%;
        left: 0;
        margin-top:150px;
        padding: 30px 0;
        position: absolute;
        transition: all .3s;
        transform: translate(-100%, 0);
    }
    #header li{
        display: flex;
        line-height: 30px;
    }
    /* hero-section mobile*/
    #hero-section{
        flex-direction: column-reverse;
    }
    #hero-right,#hero-left{
        width: 100%;
        padding: 30px 0 0 ;
    }
    #address, #submit {
        width: 100%;
        margin: 0 0 10px
    }
    #hero-right img {
        width: 100%;
    }
    /* welcome-section mobile*/
    #welcome-section{
        flex-direction: column;
    }
    #welcome-left, #welcome-right{
        width: 100%;
        margin-left: 0;
    }
    #welcome-right a{
        width: 100%;
        text-align: center;
    }
    /*reason-section mobile*/
    #reason-flex{
        flex-direction: column;
    }
    #reason-flex div:nth-child(2) {
        margin: 30px 0;
    }
    /* browse-section mobile*/
    #browse-flex {
        flex-direction: column;
        align-items: center;
        padding-top: 0
    }
    #browse-menu {
        width: 100%
    }
    #browse-menu ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #browse-menu li {
        border-left: none;
        border-bottom: 3px solid #EBEBEB;
        padding: 10px 20px 8px;
    }
    #browse-menu li:hover, #browse-menu li.clicked {
        border-left: none;
        border-bottom: 3px solid #FEBD00
    }
    #browse-carousel {
        width: 90%;
        padding-top: 50px
    }
    #browse-carousel .owl-nav {
        text-align: center;
    }
    /*history-section mobile*/
    #history-section {
        flex-direction: column-reverse;
    }
    #history-section .cookie, #history-section h2, #welcome-section .cookie, #welcome-section h2{
        text-align: center;
    }
    #history-left, #history-right {
        width: 100%;
    }
    #history-section a, #welcome-section a{
        display: block;
        text-align: center;
        width: 100%;
        justify-content: center;
    }
    /* testimonials-section mobile*/
    #testimonials-flex {
        flex-direction: column;
        padding-top: 0
    }
    #testimonials-flex div {
        width: 100%;
    }
    #testimonials-flex div:nth-child(2), #testimonials-flex div:nth-child(3),#testimonials-flex div:nth-child(5) {
        margin: 0 0 32px;
        transform: none
    }
    /*news section mobile*/
    #news-flex{
        flex-direction: column;
    }
    #news-flex div:nth-child(2){
        margin: 30px 0;
    }
    /*subscription-section mobile*/
    #subscription h2{
        padding: 0 10px
    }
    #sub{
        width: 75%
    }
    /* footer - mobile */
    #footer {
        flex-direction: column;
    }
    #footer div{
        margin: 40px 0 0 0;
    }
    #footer div:first-child {
        width: 100%;
        margin-bottom: 30px;
    }
}