#hero-section-bg{
    background:url('images/background.png') no-repeat center center;
    background-size: cover;
    position: relative;
}
#hero-section-bg::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.78);
}
#hero-section-bg *{
    z-index: 1;
}
#hero-section *{
    z-index: 1;
}
#hero-section{
    padding: 250px 0;
}
@media (min-width:768px){
    .subscribe{
        width: 50%;
    }
    #location{
        width: 100%;
    }
}
@media (max-width:768px){
    #location{
        width: 100%;
    }
}